# Global
HOST_TZ=<PUT-HOST-TZ-HERE>
APP_PUID=<PUT-APP-PUID-HERE>
APP_PGID=<PUT-APP-PGID-HERE>

# Homarr
HOMARR_PORT=<PUT-HOMARR-PORT-HERE>
HOMARR_DATA_MOUNT_DIR=<PUT-HOMARR-DATA-MOUNT-DIR-HERE>
SECRET_ENCRYPTION_KEY=<PUT-SECRET-ENCRYPTION-KEY-HERE>
