#Global
APP_PUID=<PUT-NOCODB-PUID-HERE>
APP_PGID=<PUT-NOCODB-PGID-HERE>
HOST_TZ=<PUT-HOST-TZ-HERE>
NOCDB_WEB_PORT=<PUT-NOCODB-WEB-PORT-HERE>
NOCDB_MOUNT_DIR=<PUT-NOCODB-MOUNT-DIR-HERE>

# NocoDB -> Postgres connection string
# Format: pg://<user>:<password>@postgres:5432/<database>
NOCDB_DB=<PUT-NOCODB-DB-CONNECTION-STRING-HERE>

# PG DB Env
NOCDB_PG_USER=<PUT-NOCODB-PG-USERNAME-HERE>
NOCDB_PG_PASSWORD=<PUT-NOCODB-PG-PASSWORD-HERE>
NOCDB_PG_DATABASE=<PUT-NOCODB-PG-DATABASE-HERE>
NOCDB_PG_MOUNT_DIR=<PUT-NOCODB-PG-DATABASE-MOUNT-DIR-HERE>
