# Global
HOST_TZ=<PUT-HOST-TZ-HERE>
APP_PUID=<PUT-APP-PUID-HERE>
APP_PGID=<PUT-APP-PGID-HERE>

# Stirling-PDF
STIRLING_PDF_WEB_UI_PORT=8086
STIRLING_PDF_CONFIG_MOUNT_DIR=<PUT-STIRLING-PDF-CONFIG-MOUNT-DIR-HERE>
STIRLING_PDF_LOGS_MOUNT_DIR=<PUT-STIRLING-PDF-LOGS-MOUNT-DIR-HERE>
STIRLING_PDF_TESSDATA_MOUNT_DIR=<PUT-STIRLING-PDF-TESSDATA-MOUNT-DIR-HERE>
STIRLING_PDF_PIPELINE_MOUNT_DIR=<PUT-STIRLING-PDF-PIPELINE-MOUNT-DIR-HERE>
STIRLING_PDF_ENABLE_ANALYTICS=false
