# Global
HOST_TZ=<PUT-HOST-TZ-HERE>
APP_PUID=<PUT-APP-PUID-HERE>
APP_PGID=<PUT-APP-PGID-HERE>

# Vaultwarden
VAULTWARDEN_WEB_PORT=<PUT-VAULTWARDEN-WEB-PORT-HERE>
VAULTWARDEN_DOMAIN=<PUT-VAULTWARDEN-DOMAIN-HERE>
VAULTWARDEN_ADMIN_TOKEN=<PUT-VAULTWARDEN-ADMIN-TOKEN-HERE>
VAULTWARDEN_SIGNUPS_ALLOWED=<PUT-SIGNUPS-ALLOWED-TRUE-FALSE-HERE>
VAULTWARDEN_DATA_MOUNT_DIR=<PUT-VAULTWARDEN-DATA-MOUNT-DIR-HERE>
