# Global
HOST_TZ=<PUT-HOST-TZ-HERE>
APP_PUID=<PUT-APP-PUID-HERE>
APP_PGID=<PUT-APP-PGID-HERE>
MEDIA_MUSIC_MOUNT_DIR=<PUT-MEDIA-MUSIC-MOUNT-DIR-HERE>
MEDIA_MOVIES_MOUNT_DIR=<PUT-MEDIA-MOVIES-MOUNT-DIR-HERE>
MEDIA_TV_MOUNT_DIR=<PUT-MEDIA-TV-MOUNT-DIR-HERE>
MEDIA_COURSES_MOUNT_DIR=<PUT-MEDIA-COURSES-MOUNT-DIR-HERE>

# Jellyfin
JELLYFIN_WEB_UI_PORT=<PUT-JELLYFIN-WEB-UI-PORT-HERE>
JELLYFIN_CONFIG_MOUNT_DIR=<PUT-JELLYFIN-CONFIG-MOUNT-DIR-HERE>
JELLYFIN_CACHE_MOUNT_DIR=<PUT-JELLYFIN-CACHE-MOUNT-DIR-HERE>
JELLYFIN_PUBLISHED_SERVER_URL=<PUT-JELLYFIN-PUBLISHED-SERVER-URL-HERE>
