#Global
APP_PUID=<PUT-METABASE-PUID-HERE>
APP_PGID=<PUT-METABASE-PGID-HERE>
HOST_TZ=<PUT-HOST-TZ-HERE>
METABASE_WEB_PORT=<PUT-METABASE-WEB-PORT-HERE>
METABASE_MOUNT_DIR=<PUT-METABASE-APP-MOUNT-DIR-HERE>

# PG DB Env (Postgres for Metabase app metadata + analytics data)
MB_PG_USER=<PUT-METABASE-PG-USERNAME-HERE>
MB_PG_PASSWORD=<PUT-METABASE-PG-PASSWORD-HERE>
MB_PG_DATABASE=<PUT-METABASE-PG-DATABASE-HERE>
MB_PG_MOUNT_DIR=<PUT-METABASE-PG-DB-MOUNT-DIR-HERE>
