# Container Settings
WIFE_HERMES_PORT=<PUT-WIFE-HERMES-PORT-HERE>
WIFE_HERMES_HOST_DATA_DIR=<PUT-WIFE-HERMES-HOST-DATA-DIR-HERE>

WIFE_HERMES_DASHBOARD_PORT=<PUT-WIFE-HERMES-DASHBOARD-PORT-HERE>
WIFE_HERMES_DASHBOARD_BASIC_AUTH_USERNAME=<PUT-WIFE-HERMES-DASHBOARD-BASIC-AUTH-USERNAME-HERE>
WIFE_HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=<PUT-WIFE-HERMES-DASHBOARD-BASIC-AUTH-PASSWORD-HERE>

# API Keys & Configurations
WIFE_OPENAI_API_BASE=<PUT-WIFE-OPENAI-API-BASE-OR-OLLAMA-BASE-HERE>
WIFE_OPENAI_API_KEY=<PUT-WIFE-OPENAI-KEY-OR-OLLAMA-HERE>
WIFE_TELEGRAM_BOT_TOKEN=<PUT-WIFE-TELEGRAM-BOT-TOKEN-HERE>
