# Global
HOST_TZ=<PUT-HOST-TZ-HERE>
APP_PUID=<PUT-APP-PUID-HERE>
APP_PGID=<PUT-APP-PGID-HERE>

# Memos (notes / memory)
MEMOS_WEB_PORT=<PUT-MEMOS-WEB-PORT-HERE>
MEMOS_MOUNT_DIR=<PUT-MEMOS-MOUNT-DIR-HERE>
MEMOS_DRIVER=sqlite
MEMOS_MODE=prod
