# Global
HOST_TZ=<PUT-HOST-TZ-HERE>
APP_PUID=<PUT-APP-PUID-HERE>
APP_PGID=<PUT-APP-PGID-HERE>

# BentoPDF
BENTOPDF_WEB_UI_PORT=8085
BENTOPDF_CONFIG_MOUNT_DIR=<PUT-BENTOPDF-CONFIG-MOUNT-DIR-HERE>
BENTOPDF_DATA_MOUNT_DIR=<PUT-BENTOPDF-DATA-MOUNT-DIR-HERE>
