# Global
HOST_TZ=<PUT-HOST-TZ-HERE>
APP_PUID=<PUT-APP-PUID-HERE>
APP_PGID=<PUT-APP-PGID-HERE>

# Vikunja (to-do / kanban)
VIKUNJA_WEB_PORT=<PUT-VIKUNJA-WEB-PORT-HERE>
VIKUNJA_PUBLIC_URL=<PUT-VIKUNJA-PUBLIC-URL-HERE>
VIKUNJA_DB_MOUNT_DIR=<PUT-VIKUNJA-DB-MOUNT-DIR-HERE>
VIKUNJA_FILES_MOUNT_DIR=<PUT-VIKUNJA-FILES-MOUNT-DIR-HERE>
