PROMETHEUS_UI_PORT=<PUT-PROMETHEUS-UI-PORT-HERE>
PROMETHEUS_MOUNT_DIR=<PUT-PROMETHEUS-MOUNT-DIR-HERE>

ALERTMANAGER_PORT=<PUT-ALERTMANAGER-PORT-HERE>
ALERTMANAGER_MOUNT_DIR=<PUT-ALERTMANAGER-MOUNT-DIR-HERE>