# Global
HOST_TZ=<PUT-HOST-TZ-HERE>
APP_PUID=<PUT-APP-PUID-HERE>
APP_PGID=<PUT-APP-PGID-HERE>

# Threadfin
THREADFIN_WEB_UI_PORT=<PUT-THREADFIN-WEB-UI-PORT-HERE>
THREADFIN_CONFIG_MOUNT_DIR=<PUT-THREADFIN-CONFIG-MOUNT-DIR-HERE>
THREADFIN_TEMP_MOUNT_DIR=<PUT-THREADFIN-TEMP-MOUNT-DIR-HERE>