# POSTGRES Configuration
PG_USERNAME=<PG-SUPER-USER-HERE>
PG_PASSWORD=<PG-USER-PASSWORD-HERE>
PG_PORT=<PG-PORT-HERE>
PG_DATABASE=<PG-DATABASE-HERE>

# Nextcloud Configuration
NC_USERNAME=<NEXTCLOUD-USER-HERE>
NC_PASSWORD=<NEXTCLOUD-PASSWORD-HERE>
NC_DATABASE=<NEXTCLOUD-DBNAME-HERE>

# Nextcloud App Configuration
NC_PORT=<NEXTCLOUD-WEB-PORT-HERE>
NC_ADMIN_USERNAME=<NEXTCLOUD-ADMIN-USERNAME-HERE>
NC_ADMIN_PASSWORD=<NEXTCLOUD-ADMIN-PASSWORD-HERE>
NC_MOUNT_DIR=<PERSISTENT-HOST_DIR-HERE>
NC_TRUSTED_DOMAINS=<CSV-DOMAINS-HERE>
