# UpSnap
UPSNAP_WEB_UI_PORT=8090 # Note: Host mode is used, app listens on 8090 by default
UPSNAP_DATA_MOUNT_DIR=<PUT-UPSNAP-DATA-MOUNT-DIR-HERE>
UPSNAP_INTERVAL=*/10 * * * * * # Sets the interval in which the devices are pinged
UPSNAP_SCAN_RANGE=<PUT-YOUR-NETWORK-RANGE-HERE> # e.g. 192.168.1.0/24
UPSNAP_SCAN_TIMEOUT=500ms
UPSNAP_PING_PRIVILEGED=true
