#!/bin/bash

# {{ inventory_hostname | capitalize }} Helper Functions and Aliases

function {{ helper_script_name | replace('-up', '') }}-up() {
    {% if has_ops_apps %}
    cd /var/server/anton-ddns && \
    make start && \

    cd /var/server/anton-reverse-proxy && \
    make start && \
    {% endif %}

    cd /var/server/anton && \
    make start APPS="{{ helper_apps }}"

    {% if has_ops_apps %}
    cd /var/server/ops && \
    make start APPS="cadvisor grafana"
    {% endif %}
}

function {{ helper_script_name | replace('-up', '') }}-reset() {
    {% if has_ops_apps %}
    cd /var/server/anton-ddns && \
    make restart && \

    cd /var/server/anton-reverse-proxy && \
    make restart && \
    {% endif %}

    cd /var/server/anton && \
    make reset APPS="{{ helper_apps }}"

    {% if has_ops_apps %}
    cd /var/server/ops && \
    make reset APPS="cadvisor grafana"
    {% endif %}
}

alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"
alias ollama="docker exec -ti ollama ollama"

function {{ helper_script_name | replace('-up', '') }}-down() {
    CONTAINER_IDS=$(docker ps -q --all)
    if [ -n "$CONTAINER_IDS" ]; then
        docker stop $CONTAINER_IDS
        docker rm $CONTAINER_IDS
    fi
    docker system prune -f
}
