# Global
HOST_TZ=<PUT-HOST-TZ-HERE>

# EPG
EPG_WEB_UI_PORT=<PUT-EPG-WEB-UI-PORT-HERE>
EPG_CHANNELS_FILE=<PUT-EPG-CHANNELS-FILE-HERE>
EPG_PUBLIC_MOUNT_DIR=<PUT-EPG-PUBLIC-MOUNT-DIR-HERE>
EPG_CRON_SCHEDULE=<PUT-EPG-CRON-SCHEDULE-HERE> # Default: "0 0 * * *" (daily at midnight UTC)
EPG_MAX_CONNECTIONS=<PUT-EPG-MAX-CONNECTIONS-HERE> # Default: 1
EPG_GZIP=<PUT-EPG-GZIP-HERE> # Default: false
EPG_CURL=<PUT-EPG-CURL-HERE> # Default: false
EPG_DAYS=<PUT-EPG-DAYS-HERE> # Number of days for guide (default: from site config)
EPG_TIMEOUT=<PUT-EPG-TIMEOUT-HERE> # Timeout in milliseconds (default: 30000)
EPG_DELAY=<PUT-EPG-DELAY-HERE> # Delay between requests in milliseconds (default: 0)
EPG_RUN_AT_STARTUP=<PUT-EPG-RUN-AT-STARTUP-HERE> # Default: true
