ELK_VERSION=<PUT-ELK-VERSION-HERE>
ELASTICSEARCH_REST_PORT=9200
ELASTICSEARCH_NODE_PORT=<PUT-ELASTICSEARCH-NODE-PORT-HERE>
KIBANA_WEB_PORT=<PUT-KIBANA-WEB-PORT-HERE>
LOGSTASH_UDP_PORT=5000

# Mount Dir
ELASTICSEARCH_DATA_MOUNT_DIR=<PUT-ELASTICSEARCH-DATA-MOUNT-DIR-ON-HOST-HERE>
KIBANA_DATA_MOUNT_DIR=<PUT-KIBANA-DATA-MOUNT-DIR-ON-HOST-HERE>
LOGSTASH_DATA_MOUNT_DIR=<PUT-LOGSTASH-DATA-MOUNT-DIR-ON-HOST-HERE>