LB_HTTP_PORT=<PUT-NGINX-HTTP-LISTEN-PORT-HERE>
LB_HTTPS_PORT=<PUT-NGINX-HTTPS-LISTEN-PORT-HERE>
ANTON_HOST_IP=<PUT-ANTON-HOST-IP-HERE>
ANTON_HTTP_PORT=<PUT-ANTON-HTTP-PORT-HERE>
ANTON_HTTPS_PORT=<PUT-ANTON-HTTPS-PORT-HERE>