# Mount Directory
CERTBOT_MOUNT_DIR=<PUT-CERTBOT-MOUNT-DIR-HERE>
CERTIFICATES_MOUNT_DIR=<PUT-CERTIFICATES-MOUNT-DIR-HERE>

# Global Reverse Proxy
DOMAIN_1=<PUT-HOST-DOMAIN-1> # Eg: cloudville.me
DOMAIN_2=<PUT-HOST-DOMAIN-2> # Eg: rishabmanocha.com
DOMAIN_3=<PUT-HOST-DOMAIN-3> # Eg: wezeon.com
HOST_IP=<PUT-HOST-IP-ADDRESS> # For windows or mac, 'host.docker.internal' or '172.17.0.1' for Ubuntu
GLOBAL_MAX_BODY_SIZE=<PUT-MAX-CLIENT-BODY-SIZE> # Eg: 10G

# Anton Server Ports
JENKINS_WEB_PORT=<PUT-JENKINS-WEB-APP-HOST-PORT>
JENKINS_SLAVE_PORT=<PUT-JENKINS-SLAVE-APP-HOST-PORT>
NEXTCLOUD_WEB_PORT=<PUT-NEXTCLOUD-WEB-APP-HOST-PORT>
NEXUS_WEB_PORT=<PUT-NEXUS-APP-HOST-PORT>
PGADMIN_WEB_PORT=<PUT-PGADMIN-APP-HOST-PORT>
REGISTRY_WEB_PORT=<PUT-REGISTRY-APP-HOST-PORT>
ADGUARDHOME_WEB_PORT=<PUT-ADGUARDHOME-APP-HOST-PORT>
WIKIJS_WEB_PORT=<PUT-WIKIJS-APP-HOST-PORT>
CODESERVER_WEB_UI_PORT=<PUT-CODESERVER-APP-HOST-PORT>
AIRFLOW_WEB_UI_PORT=<PUT-AIRFLOW-APP-HOST-PORT>
DELUGE_WEB_UI_PORT=<PUT-DELUGE-APP-HOST-PORT>
NZGBET_WEB_UI_PORT=<PUT-NZBGET-APP-HOST-PORT>
PROWLARR_WEB_UI_PORT=<PUT-PROWLARR-APP-HOST-PORT>
SONARR_WEB_UI_PORT=<PUT-SONARR-APP-HOST-PORT>
RADARR_WEB_UI_PORT=<PUT-RADARR-APP-HOST-PORT>
LIDARR_WEB_UI_PORT=<PUT-LIDARR-APP-HOST-PORT>
BAZARR_WEB_UI_PORT=<PUT-BAZARR-APP-HOST-PORT>
PLEX_WEB_UI_PORT=<PUT-PLEX-APP-HOST-PORT>
DUPLICATI_WEB_UI_PORT=<PUT-DUPLICATI-APP-HOST-PORT>
LAZYLIBRARIAN_WEB_UI_PORT=<PUT-LAZY-LIBRARIAN-HOST-PORT>
KIBANA_WEB_UI_PORT=<PUT-KIBANA-WEB-UI-PORT>
FRESHRSS_WEB_UI_PORT=<PUT-FRESHRSS-WEB-UI-PORT>
GRAFANA_UI_PORT=<PUT-GRAFANA-UI-PORT>
TAUTULLI_UI_PORT=<PUT-TAUTULLI-UI-PORT>
OMBI_WEB_PORT=<PUT-OMBI-WEB-PORT>
JUPYTER_WEB_PORT=<PUT-JUPYTER-WEB-PORT>
SONARQUBE_WEB_PORT=<PUT-SONARQUBE-WEB-PORT>
CALIBRE_GUI_PORT=<PUT-CALIBRE-GUI-PORT>
CALIBRE_WEB_UI_PORT=<PUT-CALIBRE-WEB-UI-PORT>
SFTPGO_WEB_UI_PORT=<PUT-SFTPGO-WEB-UI-PORT>
SFTP_PORT=<PUT-SFTP-PORT>
FTP_PORT=<PUT-FTP-PORT>
FTP_PASSIVE_PORT_PREFIX=<PUT-FTP-PASSIVE-PORT-PREFIX>
DOCKOVPN_WEB_PORT=<PUT-DOCKOVPN-WEB-PORT>
OLLAMA_WEB_PORT=<PUT-OLLAMA-WEB-PORT>
OPEN_WEBUI_WEB_PORT=<PUT-OPEN-WEBUI-WEB-PORT>
GHOST_PORT=<PUT-GHOST-PORT-HERE>
POSTIZ_PORT=<PUT-POSTIZ-PORT-HERE>
IMMICH_PORT=<PUT-IMMICH-PORT-HERE>
AFFINE_PORT=<PUT-AFFINE-PORT-HERE>
N8N_PORT=<PUT-N8N-PORT-HERE>
THREADFIN_PORT=<PUT-THREADFIN-PORT-HERE>
EPG_PORT=<PUT-EPG-PORT-HERE>
UPSNAP_PORT=<PUT-UPSNAP-PORT-HERE>
JELLYFIN_PORT=<PUT-JELLYFIN-PORT-HERE>
BENTOPDF_PORT=<PUT-BENTOPDF-PORT-HERE>
STIRLINGPDF_PORT=<PUT-STIRLINGPDF-PORT-HERE>
HOMARR_PORT=<PUT-HOMARR-PORT-HERE>
HERMES_DASHBOARD_PORT=<PUT-HERMES-DASHBOARD-PORT-HERE>