# Container Settings
HERMES_PORT=<PUT-HERMES-PORT-HERE>
HERMES_HOST_DATA_DIR=<PUT-HERMES-HOST-DATA-DIR-HERE>

HERMES_DASHBOARD_PORT=<PUT-HERMES-DASHBOARD-PORT-HERE>
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=<PUT-HERMES-DASHBOARD-BASIC-AUTH-USERNAME-HERE>
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=<PUT-HERMES-DASHBOARD-BASIC-AUTH-PASSWORD-HERE>

# API Keys & Configurations
OPENAI_API_BASE=<PUT-OPENAI-API-BASE-OR-OLLAMA-BASE-HERE>
OPENAI_API_KEY=<PUT-OPENAI-KEY-OR-OLLAMA-HERE>
TELEGRAM_BOT_TOKEN=<PUT-TELEGRAM-BOT-TOKEN-HERE>
