# Global
HOST_TZ=<PUT-HOST-TZ-HERE>
APP_PUID=<PUT-APP-PUID-HERE>
APP_PGID=<PUT-APP-PGID-HERE>

# MinIO (S3 compatible object storage)
MINIO_API_PORT=<PUT-MINIO-API-PORT-HERE>
MINIO_CONSOLE_PORT=<PUT-MINIO-CONSOLE-PORT-HERE>
MINIO_ROOT_USER=<PUT-MINIO-ROOT-USER-HERE>
MINIO_ROOT_PASSWORD=<PUT-MINIO-ROOT-PASSWORD-HERE>
MINIO_DATA_MOUNT_DIR=<PUT-MINIO-DATA-MOUNT-DIR-HERE>
