PROMETHEUS_UI_PORT=<PUT-PROMETHEUS-UI-PORT-HERE>
PROMETHEUS_MOUNT_DIR=<PUT-PROMETHEUS-MOUNT-DIR-HERE>
MONITORED_HOST_IP=<PUT-TARGET-IP-OF-MONITORED-HOST>

ALERTMANAGER_PORT=<PUT-ALERTMANAGER-PORT-HERE>
ALERTMANAGER_MOUNT_DIR=<PUT-ALERTMANAGER-MOUNT-DIR-HERE>